SPOTIFY_CLIENT_ID="client_id"
SPOTIFY_CLIENT_SECRET="client_secret"

DB_ROOT_PASSWORD="root_password"
DB_USER_PASSWORD="password"
DATABASE_URL="mysql+pymysql://webtools_user:${DB_USER_PASSWORD}@db:3306/webtools"