@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("/static/webfonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@theme {
    --font-montserrat: Montserrat, Helvetica, Arial, sans-serif;
    --color-main-red: #ef233c;
    --color-darker-red: #d32136;
    --color-secondary-black: #2b2d42;
    --color-off-white: #edf2f4;
    --color-off-gray: #c9cbcc;
}

@keyframes spin-once {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-once {
    animation: spin-once 0.5s ease-in-out;
}