<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <title>{% block title %}{% endblock %} | WebTools</title>
</head>

<body class="bg-off-white">
    <div class="flex min-h-screen">
        <div class="sidebar w-64 h-screen my-6 py-4 bg-main-red rounded-r-4xl shadow-xl text-white">
            <h1 class="text-3xl text-center font-bold"><a href="{{ url_for('main.home') }}">WebTools</a></h1>
            <p class=" text-center mb-4">{{ app_version }}</p>
            <nav class="space-y-3 mx-4">
                {% for item in nav_items %}
                <a href="{{ url_for(item.endpoint) }}"
                    class="block px-3 py-2 rounded-lg hover:bg-darker-red hover:scale-105 transition duration-75">
                    {{ item.name }}
                </a>
                {% endfor %}
            </nav>
        </div>
        <div class="content flex-1 m-6 p-6 px-10 pt-10 rounded-4xl shadow-lg border border-gray-300 bg-blue-50">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="footer text-lg text-center my-4">
        Open-source website by <a class="text-main-red underline" href="https://nihilne.com">NIHILNE</a>
    </div>
</body>

</html>